<div class="row">
    <div class="col-sm-2 col-md-3 col-lg-6 col-xl-6">
    </div>

    <div class="col-sm-10 col-md-9 col-lg-6 col-xl-6 Formulario">
        <form action="" method="POST">
            <div>
                <p class="Titulo-formulario">Ingresá los siguientes datos</p>
                <div class="grupo">
                    <input class="Caja-texto" type="text" name="" id="CajaNombre" required> <span class="Barra"></span>
                    <label class="labels" for="">Nombre</label>
                </div>

                <div class="grupo">
                    <input class="Caja-texto" type="email" name="" id="CajaCorreo" required> <span class="Barra"></span>
                    <label class="labels" for="">Correo</label>
                </div>

                <div class="grupo">
                    <input class="Caja-texto" type="number" id="Kilometros" required> <span class="Barra"></span>
                    <label class="labels" for="">Kilometros a la semana</label>
                </div>
                <button (click)="MostrarContenedor()" class="BtnIngresar">Ingresar</button>
            </div>
        </form>
    </div>
</div>